@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1>Welcome</h1>

    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello @User.Identity.Name</p>

        @if (User.IsInRole("Admin"))
        {
            <p>You are logged in as <strong>Admin</strong></p>

            <a asp-controller="TodoLists" asp-action="Index">
                Manage Todo Lists
            </a>
        }
        else
        {
            <p>You are logged in as <strong>User</strong></p>

            <a asp-controller="TodoItems" asp-action="Index">
                View My Tasks
            </a>
        }
    }
    else
    {
        <p>Please login or register to use the system</p>
    }

</div>
